*{
  margin: 0;
  padding: 0;
}

html,
body{
  front-size: 18px;
  height: 600px;
  background-image: url("./assets/AGENCIAS-DE-TURISMO-696x467.jpg"); 
  background-size: cover;
  background-repeat: repeat;
  background-size: 100%;
  background-position: center; 
  display: flex;
  justify-content: space-evenly;
  
  

}
.menu {
  display: flex;
  align-content: stretch;
  flex-wrap: wrap;
  justify-content: space-evenly;
  
}
.contenedor-navbar {
  background-color: black;
  color: white;
}

.counter {
  display: flex;
  justify-content: space-evenly;
}

.footer {
  display: grid;
  margin-top: 150px;
  margin-bottom: 0px;
  text-decoration: underline;


}
.logo {
  
  width: 60px;
  height: 60px
}





/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
 */