*{
  margin: 0;
  padding: 0;
}


html,
body{
  font-size: 18px;
  height: 800px;
  background-image: url("../public/imagenes/fondito.png"); 
  background-size: 100%;
  background-repeat: repeat;
  background-position: center; 
  display: flex;
  justify-content: space-evenly;
  
}


.menu {
  display: flex;
  align-content: stretch;
  flex-wrap: wrap;
  justify-content: space-evenly;
  
}
.contenedor-navbar{
  background-color: #024A86;
  color: white;
}
  

.counter {
  display: flex;
  justify-content: space-evenly;
}

.footer {
  display: grid;
  margin-top: 150px;
  margin-bottom: 0px;
  text-decoration: underline;


}

.logo {
  
  width: 100px;
  height: 100px;

}


.card:hover {
  box-shadow: 0 5px 15px #303030;
  transform: translateY(-15px);
  
}

.image-detail {
  width: 150px;
  height: 150px;

}
