*{
  margin: 0;
  padding: 0;
}

html,
body{
  front-size: 18px;
  height: 600px;
  background-color: #00FFFF; 
  background-size: cover;
  background-repeat: repeat;
  background-size: 100%;
  background-position: center; 
  display: flex;
  justify-content: space-evenly;
  
  

}
.menu {
  display: flex;
  align-content: stretch;
  flex-wrap: wrap;
  justify-content: space-evenly;
  
}
.contenedor-navbar {
  background-color: #024A86;
  color: white;
}

.counter {
  display: flex;
  justify-content: space-evenly;
}

.footer {
  display: grid;
  margin-top: 150px;
  margin-bottom: 0px;
  text-decoration: underline;


}
.logo {
  
  width: 100px;
  height: 100px
}
